<div class="row">
  <div class="large-12 columns large-centered">
    <div class="row">
      <header class="page_header">
        <h1 class="text-center">Pricing & Signup</h1>
        <h3 class="subheader text-center">Risk free, 30-day money back guarantee!</h3>
      </header>
      <div class="large-3 columns">
        <ul class="pricing-table pricing_box">
          <li class="title">Hobby</li>
          <li class="price"><b>$29</b>/mo</li>
          <li class="bullet-item"><b>50 - 250</b> Customers</li>
          <li class="bullet-item"><b>1</b> Team Member</li>
          <li class="bullet-item"><b>Email</b> Support</li>
          <li class="bullet-item">-</li>
          <li class="bullet-item">-</li>
          <li class="cta-button"><%= link_to 'Get Started', signup_path(plan: 'hobby'), class: 'button success radius' %></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul class="pricing-table pricing_box">
          <li class="title">Startup</li>
          <li class="price"><b>$79</b>/mo</li>
          <li class="bullet-item">Up to <b>1,000</b> Customers</li>
          <li class="bullet-item"><b>5</b> Team Members</li>
          <li class="bullet-item"><b>Email</b> Support</li>
          <li class="bullet-item">Email <b>Reports</b><br><small>Coming very soon!</small></li>
          <li class="bullet-item">-</li>
          <li class="cta-button"><a class="button success radius" href="#">Get Started</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul class="pricing-table pricing_box">
          <li class="title">Business</li>
          <li class="price"><b>$249</b>/mo</li>
          <li class="bullet-item">Up to <b>4,000</b> Customers</li>
          <li class="bullet-item"><b>10</b> Team Members</li>
          <li class="bullet-item"><b>Email & Phone</b> Support</li>
          <li class="bullet-item">Email <b>Reports</b><br><small>Coming very soon!</small></li>
          <li class="bullet-item"><b>Compare</b> Businesses<br><small>Coming very soon!</small></li>
          <li class="cta-button"><a class="button success radius" href="#">Get Started</a></li>
        </ul>
      </div>
      <div class="large-3 columns">
        <ul class="pricing-table pricing_box">
          <li class="title">Enterprise</li>
          <li class="price">Email for Pricing</li>
          <li class="bullet-item"><b>Unlimited</b> Customers</li>
          <li class="bullet-item"><b>Unlimited</b> Team Members</li>
          <li class="bullet-item"><b>Email & Phone</b> Support</li>
          <li class="bullet-item">Email <b>Reports</b><br><small>Coming very soon!</small></li>
          <li class="bullet-item"><b>Compare</b> Businesses<br><small>Coming very soon!</small></li>
          <li class="cta-button"><a class="button success radius" href="#">Get In Touch</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="widget free_blurb">
          <div class="content text-center">
            <h4>Less than 50 paying customers?</h4>
            <p>Realistically, the kind of data we provide isn't that useful for less than 50 paying customers. So, instead of charging you for data that isn't all that useful, <b>we're working on a FREE plan</b> with basic metrics and monthly reports just for folks like you who are just getting their business off the ground! Stay tuned. This will be available very soon.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>